<div class="container text-center">
  <img src="/assets/images/burger.png" alt="burger" width="150px">
  <img src="/assets/images/burger.png" alt="burger" width="150px">
  <img src="/assets/images/burger.png" alt="burger" width="150px">
  <h1>Burgers! Burgers! Burgers!</h1>
  <div class="row text-center">
    <div class="col" id="">
      <h2>Burgers Ordered</h2>
      <table id="ordered">
        {{#each burger_data}}
        {{#unless this.devoured}}
        <tr>
          <td class="item">{{this.id}}. {{this.burger_name}}</td>
          <td class="devourBTN">
            <form class="devourIt">
              <input input type="hidden" class="burger_id" type="text" value={{this.id}}>
              <button type="submit" class="btn btn-primary btn-lg">Devour it!</button>
            </form>
          </td>
        </tr>
        {{/unless}}
        {{/each}}
      </table>
    </div>
    <div class="col" id="">
      <h2>Order History</h2>
      <table id="devoured">
        {{#each burger_data}}
        {{#if this.devoured}}
        <tr>
          <td class="item">{{this.id}}. {{this.burger_name}}</td>
        </tr>
        {{/if}}
        {{/each}}
      </table>
    </div>
  </div>
  <div class="row">
    <form style="margin: 0 auto" action="/burgers/create" method="POST">
      <fieldset>
        <div class="form-group text-center">
          <label for="exampleTextarea">Example textarea</label>
          <textarea class="form-control" name="burger_name" value="" id="" rows="3"></textarea>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" id="">Submit</button>
    </form>
  </div>
</div>
